<!DOCTYPE html>
<!-- saved from url=(0036)https://www.Prime-tech.net/top-earners -->
<html lang="en" data-bs-theme="light"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--required meta tags-->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta-->
    
    <!--title-->
    <title> Prime-tech || Top Earners</title>
    <link rel="shortcut icon" type="image/png" href="img/logo (3).png">

   <!--build:css-->
   <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/styles2.css">
   <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
   <!-- endbuild -->

</head>

<body aria-hidden="false">

    <!--scrolltop button -->
    <a href="#top"><button class="scrolltop-btn"><i class="fa-solid fa-angle-up"></i></button></a>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->

          <div class="d-flex align-items-center justify-content-center">
            <a href="Home.html" class="logo-wrapper"><img src="img/logo (3).png" style="height: 70px; width: 80px;" alt="logo" class="logo logo-black"></a>
            <p class="fw-bold position-relative mt-3" style="color: #07DE0A;">PRIME-TECH</p>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
                
            <%- include('./partials/viewPagesMobileNav') %>
        </div>
    </div>

    
    <%- include('./partials/viewPagesHeader') %>


    <div class="hero position-relative">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div>
                        <h1 class="display-6 fw-bold mt-4">Prime-tech Top <span class="underline">Earners</span>.</h1>
                        <p class="lead mt-4">Discover individuals who've achieved exceptional financial success. Be inspired by their journeys and celebrate their prosperity with us.</p>            
                        <a href="Buy Coupon Code.html" class="btn btn-color text-white fw-bold mt-2 px-4 py-3 radius-two">Buy Coupon Code</a>
                    </div>
                </div>
                <div class="hangover lg" style="height: 380px !important; background-image: url(img/img5.jfif);">
                    <!-- <img src="img/iPhone-12-Mini-.png" alt="mockup" class="mockup"> -->
                     <div class="bg-white ab-white radius-two py-3 px-2 mt-5">
                        <p class="fs-6">Keep up with the top earners</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="container bg-light top py-5 radius-two">
        <div class="row g-1 gap-3 align-items-center justify-content-center">
            <% for( let i = 0; i < earners.length; i++ ) { %>
                <div class="border round vendor px-4">
                    <div class="gap-3 align-items-center mb-2">
                        <div class="d-flex gap-4">
                            <img src="img/profile-icon.png" class="img-fluid rounded-circle" alt="">
                            <p class="fw-semibold fs-4"><%= earners[i].username %></p>
                        </div>
                        <div>
                            <p class="text-color text-end">$<%= earners[i].balance / 1000 %></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <br>


    <%- include('./partials/viewPagesFooter') %>


    <!-- Discover individuals who've achieved exceptional financial success. Be inspired by their journeys and celebrate their prosperity with us. -->
   
     <!--build:js-->
     <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
     <!-- <script src="js/script.js"></script> -->
     <!--endbuild-->

</body>
</html>